**/__pycache__/
*.pyc
.idea
**/dist/
**/conda_dist/
**/test_pypi_dist/
**/*.egg-info/
**/build/
**/site/
*.coverage
report.xml
coverage.xml
.scannerwork
**/LICENSE.md

# generated pylint configuration files
pylintrc_*
