test_process_bibtex_bib_to_py.py
test_process_bibtex_json_to_py.py
test_process_bibtex_yml_to_py.py
test_process_ris2001_ris_to_py.py
test_process_ris2001_json_to_py.py
test_process_ris2001_yml_to_py.py
